.font_size{
    font-size:1.15rem;
}

.slide-content {
  margin: 8px;
  width: 400px;
  height: 500px;
  background-color: lightgray;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  object-fit: cover;
}
img {
  width: 100%;
  transition:transform 0.25s ease;
}
.slid-er {
  height: 300px; /* slide-content height + 2*margin */
  margin: auto;
  overflow: hidden;
  width: 100%;
  

}
.slid-er .slides {
  display: flex;
  
  
}
.slid-er .slide {
  width: 400px; 
  /* slide-content width + margin */
}

.button-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: opacity 0.25s;
}
.button-container:hover {
  opacity: 1;
}
.button-container:hover .button {
  transform: translate(-50%, -50%);
}
.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 12px));
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.25s;
  padding: 0 8px;
  border-radius: 12px;
  color: white;
  outline: 2px solid transparent;
}
.button:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
  filter: invert(1);
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.9);
  outline: 2px solid gray;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }
  body{margin: 0;padding: 0;background: #01819e;font-family: 'Montserrat', sans-serif;}
ul.team-list {
    max-width: 1200px;
    margin:50px  auto;
    padding: 0;
    list-style: none;
    display: flex;
  flex-wrap:wrap;
}
@media screen and (max-width: 500px) {
  .team-list {
    justify-content:center;
    align-items:center;

  }
}
ul.team-list> li {
    width: 25%;
    overflow: hidden;
    text-align: center;
  min-width:230px ;
  padding: 15px;box-sizing:border-box;
}


.team_box img {
    height: 300px;
    object-fit: cover;
    padding: 5px;display: block;
    box-sizing: border-box;
}
.team_box {
    max-width: 230px;
    margin: auto;overflow: hidden;
    position: relative;
    background: #fff;
}
.team_box .mmbr-fttr .nm {
    text-transform: uppercase;
    padding-top: 15px;
    margin-bottom: 20px;color: #5458FF;
    position: relative;font-weight: 600;
}
.team_box label.prfl {
    padding-bottom: 15px;
    display: block;position: relative;
    z-index: 9;
    text-align: center;
    color: black;font-size: 14px;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.team_box label.prfl2 {
  padding-bottom: 15px;
  display: block;position: relative;
  z-index: 9;
  text-align: center;
  color: black;font-size: 14px;
  font-family: 'Montserrat';
  text-transform: uppercase;
}

.mmbr-fttr .nm:after {
    position: absolute;
    content: '';
    width: 50%;
    height: 1px;
    background: #5458FF;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.mmbr-fttr .nm:before{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background: #5458FF;
    bottom: -17px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    border: solid 3px #fff;
    z-index: 1;
}
.team_box ul.social {
    margin: 0;
    list-style: none;
    width: 30px;
    position: absolute;z-index: 9;
    opacity: 0;
    right: 15px;transition: all .6s linear;
    top: 5px;
    background: #cd1431;    transform: translateY(-250px);
    border-radius: 0 0 20px 20px;
    padding: 10px 3px;
}
.team_box ul.social li {
    width: 100%;
    margin: 10px 0;
}
.team_box ul.social li a {
    font-size: 18px;
    transition: all .3s linear;
    color: #fff;
}
.team_box ul.social li a:hover{color: rgba(255, 255, 255, .8)}

.team_box .mmbr-fttr {
    float: left;
    position: relative;
    width: 100%;
}
.mmbr-fttr:before {
    position: absolute;
    width: 100%;
    content: '';
    height: 256px;
    left: 0;
    transition: all .3s linear;
    transform: translateY(256px);
    bottom: 100%;
    z-index: 0;
}
.team_box:hover .mmbr-fttr:before,.team_box:hover ul.social{transform: translateY(0);opacity: 1}

.card-img{
  width: 100%;
  height: 100%;
  border-radius: inherit;
}


.link {
  color: var(--color-white);
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  margin-right: 0.5rem;
  position: relative;
  z-index: 200;
}

.link:after{
  content: "";
  position: absolute;
  background-color: var(--color-white);
  height: 0.15rem;
  width: 0;
  left: 0;
  bottom: 5px;
  transition: 0.3s;
}
.link:hover:after{
  width: 100%;
  color:pink;
  background-color:white;
}
::file-selector-button {
  display: none;
}

.container {
  width: 600px;
  margin: 50px auto 0;
  text-align: center
}

/*Styling Selectbox*/
.dropdown {
  width: 400px;
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
    background-color: #00d8b2
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 5px 5px 0 0;
    background-color: #00d8b2
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #00d8b2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: #009DDD;
  background: -moz-linear-gradient(top, rgb(0,157,221,0) 0%, rgb(0,157,221) 8%, rgb(0,157,221) 92%, rgb(0,157,221,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgb(0,157,221,0) 0%, rgb(0,157,221) 8%, rgb(0,157,221) 92%, rgb(0,157,221,0) 100%);
  background: -o-linear-gradient(top, rgb(0,157,221,0) 0%, rgb(0,157,221) 8%, rgb(0,157,221) 92%, rgb(0,157,221,0) 100%);
  background: -ms-linear-gradient(top, rgb(0,157,221,0) 0%, rgb(0,157,221) 8%, rgb(0,157,221) 92%, rgb(0,157,221,0) 100%);
  background: linear-gradient(to bottom, rgb(0,157,221,0) 0%, rgb(0,157,221) 8%, rgb(0,157,221) 92%, rgb(0,157,221,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 2px 3px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 2px 3px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 2px 3px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 2px 3px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #F4F5F5;
  border-radius: 10px;
  border: 4px solid #009DDD;
  z-index: 10;
}

.direction-l .flag.xl:before {
  position: absolute;
  top: 50%;
  right: -47.5px;
  content: ' ';
  display: block;
  width: 25px;
  height: 25px;
  margin-top: -15px;
  background: #F4F5F5;
  border-radius: 20px;
  border: 5px solid #009DDD;
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.flag.wbg {
  background: transparent;
  border: none;
  box-shadow: none;
}


.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 16px;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: rgb(255,255,255);
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid #009DDD;
	z-index: 10;
}

 .direction-l .flag.xl:before {
    left: calc(50% - 7.5px);
    top: -35px;
  }
  
.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}
  
 .flag.wbg {
  background: transparent;
  -webkit-box-shadow: -1px 2px 3px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 2px 3px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 2px 3px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}


.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: transparent;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
}

}

.hide {
  display: none !important;
}

@media screen and (min-width: 400px) {

  .direction-l .desc,
  .direction-r .desc {
    margin: 1em 4em 0 4em;
  }
  
  }

@media screen and (max-width: 660px){
  .direction-l .desc,
  .direction-r .desc {
    margin: 1em 4em 0 4em;
  }
}
.card{
  margin-top: 30px;
  width: 45%;
  padding: 30px;
  border-radius: 10px;
  color: #fff;
  display: block;
  /* margin: -80px 0; */
  position: relative;
  background: #9966cc;
}


.card-title{
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.card-detail{
  font-size: 15px;
}

.section-title2{
  margin-top: 50px;
}

